html,body,.container {
  width: 100%;
}

body {
  font-family: PingFangSC-Regular, sans-serif;
}

.container {
  /* background: url(../images/bg.png) no-repeat; */
  color: #fff;
}

.fullscreen {
  width: 100vw;
}

.video-container {
  width: 100vw;
  height: 100vh;
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.swiper-container {
  width: 100vw;
}

.swiper-container img {
  width: 100%;
  display: block;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  color: #fff;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 100px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 100px;
}

.wrap {
  width: 1350px;
  margin: 0 auto;
}

.qrcode-text {
  width: 556px;
  height: 74px;
  line-height: 74px;
  background: url(../images/scan-bg.png) no-repeat;
  background-size: contain;
}

.follow-section .wrap {
  width: 555px;
  height: 425px;
  margin: 0 auto;
  text-align: center;
}

.link-list {
  display: inline-flex;
}

.link-list li {
  margin-right: 30px;
}

.link-list li:last-child {
  margin-right: 0;
}

.follow-section p {
  margin-bottom: 20px;
}

.highlight-title {
  position: relative;
}

.highlight-title:before,
.highlight-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  height: 2px;
  width:40px;
  background-color: #000;
}

.highlight-title:before {
  margin-left: -100px;
}

.highlight-title:after {
  margin-left: 60px;
}

.welcome-title:before {
  margin-left: -140px;
}

.welcome-title:after {
  margin-left: 80px;
}

.swiper-section {
  background: url(../images/bg/banner-bg.png) center no-repeat;
  background-size: cover;
  padding: 0 175px;
  box-sizing: border-box;
}

.swiper-section .swiper-container {
  width: 100%;
}

.swiper-section .swiper-button-prev {
  left: 40px;
}

.swiper-section .swiper-button-next {
  right: 40px;
}

.function-section {
  position: relative;
}

.function-video {
  width: 40%;
  position: absolute;
  left: 12.7%;
  top: 18%;
}

.video-border {
  width: 100%;
  display: block;
}

section {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.bg {
  width: 100%;
  display: block;
}

.cover {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

video {
  display: block;
}

.partner-container ul {
  display: flex;
}

.partner-container li {
  margin: 0 30px 20px 0;
}

.partner-container li:last-child {
  margin-right: 0;
}

.partner-container img {
  height: 100px;
}

.brand-content {
  font-size: 16px;
  line-height: 28px;
  color: rgba(255,255,255,.6);
  margin-bottom: 50px;
}

.brand-content .underline {
  color: rgba(255,255,255,1)
}

.title-text {
  background-color: #61DFF4;
  color: #000;
  font-weight: bold;
  display: inline-block;
  padding: 5px 40px;
}

.partner-section {
  margin: 400px 0 300px;
}

.brand-wrap {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -675px;
}